<!DOCTYPE html>
<html>
	<head>
		<% include ../includes/header.ejs %>
	</head>

	<body>
		<% include ../includes/nav.ejs %>
		<div class="jumbotron text-center">
			<div class="container">
				<h1><%= title %></h1>
				<h2><%= subTitle %></h2>
				<% if (usernames.length > ) { %>
				<ul>
					<% for (let user of users { %>
					<li><%= user.username %></li>
					<% } %>
				</ul>
				<% } else { %>
				<p>No Users Found!</p>
				<% } %>
			</div>
		</div>
	</body>
</html>
